

Package             Version
------------------- -------
asgiref             3.7.2
crispy-bootstrap4   2022.1
Django              4.2.5
django-crispy-forms 2.0
Pillow              10.0.1
pip                 23.2.1
setuptools          68.1.2
sqlparse            0.4.4
tzdata              2023.3
wheel               0.41.2