{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{title_block}} {% endblock %}
{% block css_block %} 
<style>
    .sign_up{
        width: 600px;
        border: 1px solid #eeeeee;
        padding: 45px;
        padding-top: 55px;
        margin-top: 30px;
        border-radius: 15px;

    }
    .log_in{
        width: 600px;
        padding: 20px;
        border: 1px solid #eeeeee;
        margin-top: 10px;
        border-radius: 15px;

    }
</style>
{% endblock %}
{% block body_block %}

<center>
    <h3>Sign Up to See photos from your friends.</h3>
    <div class="sign_up">
        <form method="POST">
            {{ form | crispy }}
            {% csrf_token %}
            <button type="submit" style="width:100%;" class="btn btn-primary btn-lg">Sign Up</button>
        </form>
    </div>
    <div class="log_in">
        <p>Have an account? <a href="">Login</a> </p>

    </div>
</center>



{% endblock %}