{% extends 'navbar.html' %}
{% block title_block %} {{ user.user_profile.full_name }} (@{{ User.username }}) {% endblock %}


{%block body_block %}
<div class="row" >
    <div class="col-sm-4" >
        {% if user.user_profile.profile_pic %}
              <img src="/media/{{user.user_profile.profile_pic}}" width="250px" height="250px" class="rounded-circle" alt="">
              {% else %}
              <img src="/media/default.png" width="250px" height="250px" class="rounded-circle" alt="">
              {% endif %}
              <br><br>

    </div>
    <div class="col-sm-8">
        <h3>{{user.username}} &nbsp; <a href="{% url 'App_Login:edit' %}" class="btn btn-primary">Edit Profile</a></h3>
        <br>
        <h4>{{user.post.count}} posts &nbsp; &nbsp; {{user.following.count}} followers &nbsp; &nbsp; {{user.follower.count}} following </h4>
        <br>
        <h4>{{user.user_profile.full_name}}</h4> 
    </div>
</div>
{%endblock%}